html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f6f5f53b;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}